Repository joshheyse/home-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, alejandra, stylua

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Run: pre-commit install
# Or via Nix: nix develop --command pre-commit install

repos:
  - repo: local
    hooks:
      - id: shellcheck
        name: shellcheck
        entry: scripts/check-all
        language: script
        files: \.sh$
        pass_filenames: true

      - id: alejandra
        name: alejandra
        entry: scripts/check-all
        language: script
        files: \.nix$
        pass_filenames: true

      - id: stylua
        name: stylua
        entry: scripts/check-all
        language: script
        files: \.lua$
        pass_filenames: true

      - id: git-secrets
        name: git-secrets
        entry: git secrets --pre_commit_hook --
        language: system
        pass_filenames: true

gpg-agent: keep forwarded socket while an SSH session is active
  modules/programs/desktop/gpg-agent.nix
Due: alejandra

gpg-agent: keep SSH-forwarded socket from being clobbered
  modules/programs/desktop/gpg-agent.nix
Due: alejandra

claude-code: 2.1.154 -> 2.1.157
  flake.lock
Due: none

claude-desktop: rebuild FHS with docker_29
  flake.nix
Due: alejandra

verilog: veridian LSP + slang 9.1 overlay
  flake.nix
  modules/programs/shell/neovim/config/lua/plugins/verilog.lua
  modules/programs/shell/neovim/default.nix
Due: alejandra, stylua

added dwfv
  flake.lock
  flake.nix
  modules/programs/shell/neovim/config/lua/plugins/verilog.lua
  pkgs/dwfv/Cargo.lock
  pkgs/dwfv/default.nix
Due: alejandra, stylua

added dwfv
  modules/programs/shell/default.nix
Due: alejandra

fix LESS
  modules/programs/shell/default.nix
  pkgs/portable-ssh/portable-launcher
Due: alejandra

update nix-portable to use bwrap
  pkgs/portable-ssh/portable-launcher
Due: none

update nix-portable to use bwrap part 2
  pkgs/portable-ssh/portable-launcher
Due: none

add orb
  flake.lock
  flake.nix
Due: alejandra

update flakes
  flake.lock
Due: none

add codex
  modules/programs/shell/default.nix
Due: alejandra

flake: 26.05; drop hyprexpo, fix claude-desktop asar, remove veridian patch
  flake.lock
  flake.nix
  modules/programs/desktop/hyprland/default.nix
  modules/programs/desktop/keybindings.nix
Due: alejandra

claude-code: suppress settings.json home.file under 26.05 abs-path key
  modules/programs/shell/claude-code/default.nix
Due: alejandra

hyprland: add lockOnStart option to lock session on startup
  flake.nix
  modules/programs/desktop/hyprland/hyprland.nix
Due: alejandra

hyprland: virtual output for Moonlight streaming + drop pseudotile
  modules/programs/desktop/hyprland/hyprland.nix
Due: alejandra

hyprland: migrate window rules off deprecated windowrulev2
  modules/programs/desktop/hyprland/hyprland.nix
Due: alejandra

hyprland: drop virt output and gamescope rules
  modules/programs/desktop/hyprland/hyprland.nix
Due: alejandra

neovim: wire python3 provider host explicitly
  modules/programs/shell/neovim/default.nix
Due: alejandra

neovim: migrate AstroNvim v5 -> v6 for neovim 0.12 compatibility
  modules/programs/shell/neovim/config/lua/lazy_setup.lua
  modules/programs/shell/neovim/config/lua/plugins/astrocore.lua
  modules/programs/shell/neovim/config/lua/plugins/astrolsp.lua
  modules/programs/shell/neovim/config/lua/plugins/cpp.lua
  modules/programs/shell/neovim/config/lua/plugins/noice.lua
  modules/programs/shell/neovim/config/lua/plugins/treesitter.lua
  modules/programs/shell/neovim/config/lua/plugins/verilog.lua
Due: stylua

Add Vivado nix package (FHS wrapper + install tool)
  flake.nix
  pkgs/vivado/README.md
  pkgs/vivado/default.nix
  pkgs/vivado/fhs-libs.nix
  pkgs/vivado/install-tool.nix
  pkgs/vivado/options.nix
Due: alejandra

Remove vivado package (split out into vivado-nix)
  flake.nix
  pkgs/vivado/README.md
  pkgs/vivado/default.nix
  pkgs/vivado/fhs-libs.nix
  pkgs/vivado/install-tool.nix
  pkgs/vivado/options.nix
Due: alejandra

git: worktree aliases/functions + git-tidy branch cleanup
  modules/programs/shell/default.nix
  modules/programs/shell/git.nix
  modules/programs/shell/git/default.nix
  modules/programs/shell/git/functions.zsh
  modules/programs/shell/git/git-tidy.sh
  modules/programs/shell/zsh.nix
Due: shellcheck, alejandra

upgrade flakes
  flake.lock
Due: none

verible linux only
  modules/programs/shell/neovim/default.nix
Due: alejandra

update flake lock
  modules/programs/shell/neovim/default.nix
Due: alejandra

nvim: fix <Leader> case collisions with AstroNvim defaults
  modules/programs/shell/neovim/config/lua/plugins/astrocore.lua
  modules/programs/shell/neovim/config/lua/plugins/telescope-live-grep-args.lua
Due: stylua

nvim/dap: drop deprecated load_launchjs call
  modules/programs/shell/neovim/config/lua/plugins/dap.lua
Due: stylua

nvim/minuet: add session-wide auto-trigger toggle on <Leader>am
  modules/programs/shell/neovim/config/lua/plugins/minuet.lua
Due: stylua

nvim/autopairs: stop auto-closing ' in SystemVerilog
  modules/programs/shell/neovim/config/lua/plugins/user.lua
Due: stylua

flake: update inputs
  flake.lock
Due: none

update nvim
  AGENTS.md
  flake.nix
  modules/programs/desktop/hyprland/gtk.nix
  modules/programs/desktop/hyprland/hyprland.nix
  modules/programs/shell/ssh.nix
  modules/programs/shell/tmux/default.nix
Due: alejandra

Use nixpkgs Claude Code package
  AGENTS.md
  flake.lock
  flake.nix
Due: alejandra

Update Neovim replace and Verilog formatting
  modules/programs/shell/neovim/config/lua/plugins/astrocore.lua
  modules/programs/shell/neovim/config/lua/plugins/verilog.lua
Due: stylua

Use Digital Blasphemy API for wallpaper sync
  modules/programs/desktop/hyprland/wallpaper.nix
  modules/secrets.nix
  pkgs/db-wallpaper/db-wallpaper-sync.py
  secrets/users/josh/secrets.yaml
Due: alejandra

Use Digital Blasphemy API key secret
  modules/programs/desktop/hyprland/wallpaper.nix
  modules/secrets.nix
Due: alejandra
