Repository joshheyse/home-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, alejandra, stylua

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Run: pre-commit install
# Or via Nix: nix develop --command pre-commit install

repos:
  - repo: local
    hooks:
      - id: shellcheck
        name: shellcheck
        entry: scripts/check-all
        language: script
        files: \.sh$
        pass_filenames: true

      - id: alejandra
        name: alejandra
        entry: scripts/check-all
        language: script
        files: \.nix$
        pass_filenames: true

      - id: stylua
        name: stylua
        entry: scripts/check-all
        language: script
        files: \.lua$
        pass_filenames: true

      - id: git-secrets
        name: git-secrets
        entry: git secrets --pre_commit_hook --
        language: system
        pass_filenames: true

add git worktree support to dev workspace
  modules/programs/shell/tmux/default.nix
  modules/programs/shell/tmux/dev-workspace.sh
Due: shellcheck, alejandra

remove ignore_timeout
  modules/programs/shell/starship.nix
Due: alejandra

more shift+enter mess
  modules/programs/shell/tmux/default.nix
Due: alejandra

Fix tmux window tab format: remove colon between number and name
  modules/programs/shell/tmux/icon-setup.sh
Due: shellcheck

remove pdf reader.nvim
  modules/programs/shell/neovim/config/lua/plugins/pdfreader.lua
Due: stylua

write nvim notifications to log file
  modules/programs/shell/neovim/config/lua/polish.lua
Due: stylua

log nvim notificatoins
  modules/programs/shell/neovim/config/lua/polish.lua
Due: stylua

log nvim notifications
  modules/programs/shell/neovim/config/lua/polish.lua
  neovim.yml
Due: stylua

add kitty clipboard settings
  modules/programs/desktop/kitty.nix
Due: alejandra

add claude-sandbox: Landlock kernel sandbox for Claude Code
  CLAUDE.md
  flake.nix
  modules/programs/shell/claude-code/claude-sandbox.sh
  modules/programs/shell/claude-code/default.nix
  pkgs/landrun/default.nix
Due: shellcheck, alejandra

add neovim notebook support: molten-nvim, jupytext, quarto
  modules/programs/shell/neovim/config/lua/community.lua
  modules/programs/shell/neovim/config/lua/plugins/image.lua
  modules/programs/shell/neovim/config/lua/plugins/notebook.lua
  modules/programs/shell/neovim/default.nix
Due: alejandra, stylua

add unified keybinding system with skhd + Hyprland parity
  modules/programs/desktop/default.nix
  modules/programs/desktop/hyprland/hyprland.nix
  modules/programs/desktop/keybindings.nix
Due: alejandra

style moar pager with Tokyo Night theme
  modules/programs/shell/default.nix
Due: alejandra

fix jupytext package path in neovim extraPackages
  modules/programs/shell/neovim/default.nix
Due: alejandra

add CPM_SOURCE_CACHE session variable
  modules/programs/shell/default.nix
Due: alejandra

centralize Tokyo Night theme into shared module
  flake.nix
  modules/programs/desktop/hyprland/default.nix
  modules/programs/desktop/hyprland/theme.nix
  modules/programs/desktop/sketchybar.nix
  modules/programs/shell/bat.nix
  modules/programs/shell/btop.nix
  modules/programs/shell/default.nix
  modules/programs/shell/fzf.nix
  modules/programs/shell/lazygit.nix
  modules/programs/shell/starship.nix
  modules/theme.nix
Due: alejandra

add Firefox profile management and fix skhd keybindings
  modules/programs/desktop/default.nix
  modules/programs/desktop/firefox.nix
  modules/programs/desktop/keybindings.nix
Due: alejandra

Add enable options for tiling-wm, firefox-profile, and raycast
  modules/programs/desktop/default.nix
  modules/programs/desktop/firefox.nix
  modules/programs/desktop/keybindings.nix
  modules/programs/desktop/raycast.nix
  modules/programs/desktop/yabai.nix
Due: alejandra

Add shell packages and fix poppler package name
  modules/programs/shell/default.nix
  modules/programs/shell/neovim/default.nix
Due: alejandra

make firefox install configurable, remove weechat and ghidra
  modules/programs/desktop/default.nix
  modules/programs/desktop/firefox.nix
Due: alejandra

fix fonts
  modules/programs/desktop/default.nix
Due: alejandra

Add TCC activation script for skhd, yabai, and raycast
  modules/programs/desktop/keybindings.nix
Due: alejandra

Export theme as individual homeManagerModule
  flake.nix
Due: alejandra

Import theme module from shell and desktop modules
  modules/programs/desktop/default.nix
  modules/programs/shell/default.nix
Due: alejandra

Use absolute paths for system commands in TCC activation script
  modules/programs/desktop/keybindings.nix
Due: alejandra

Fix sketchybar config issues
  modules/programs/desktop/sketchybar.nix
Due: alejandra

Restore Nerd Font symbols stripped during theme centralization
  modules/programs/shell/starship.nix
Due: alejandra

Restart all managed services after TCC update
  modules/programs/desktop/keybindings.nix
Due: alejandra

Add shared darwinModules, migrate system packages, add nvim path yank keybindings
  flake.nix
  modules/darwin/default.nix
  modules/programs/shell/default.nix
  modules/programs/shell/neovim/config/lua/paths.lua
  modules/programs/shell/neovim/config/lua/plugins/astrocore.lua
Due: alejandra, stylua

fixed moar/moor
  modules/programs/desktop/default.nix
  modules/programs/shell/default.nix
  modules/programs/shell/neovim/config/lua/plugins/user.lua
  pkgs/ssh-agent-switcher/default.nix
Due: alejandra, stylua

remove image.nvim pdf rendering
  modules/programs/shell/neovim/config/lua/plugins/image.lua
Due: stylua

remove snacks pdf rendering
  modules/programs/shell/neovim/config/lua/plugins/snacks.lua
Due: stylua

pin ssh-agent-switcher to v1.0.0
  pkgs/ssh-agent-switcher/Cargo.lock
  pkgs/ssh-agent-switcher/default.nix
Due: alejandra

Add shared secrets module with opt-in enable option
  flake.nix
  modules/secrets.nix
Due: alejandra

Use user-owned age key path instead of system key
  modules/secrets.nix
Due: alejandra

Point user age key at /run/secrets/ provisioned by system sops
  modules/secrets.nix
Due: alejandra

Replace Copilot with Anthropic-based neovim plugins
  modules/programs/shell/neovim/config/lua/plugins/astrocore.lua
  modules/programs/shell/neovim/config/lua/plugins/claude.lua
  modules/programs/shell/neovim/config/lua/plugins/codecompanion.lua
  modules/programs/shell/neovim/config/lua/plugins/copilot.lua
Due: stylua

add minuet-ai.nvim for Claude-powered inline code completion
  modules/programs/shell/neovim/config/lua/plugins/minuet.lua
  modules/programs/shell/neovim/config/lua/plugins/neo-tree.lua
Due: stylua

upgrade flake inputs to 25.11
  flake.nix
Due: alejandra

fix: replace rofi-wayland with rofi (merged in 25.11)
  modules/programs/desktop/hyprland/rofi.nix
  modules/programs/desktop/keybindings.nix
Due: alejandra
