Repository joshheyse/home-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, alejandra, stylua

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Run: pre-commit install
# Or via Nix: nix develop --command pre-commit install

repos:
  - repo: local
    hooks:
      - id: shellcheck
        name: shellcheck
        entry: scripts/check-all
        language: script
        files: \.sh$
        pass_filenames: true

      - id: alejandra
        name: alejandra
        entry: scripts/check-all
        language: script
        files: \.nix$
        pass_filenames: true

      - id: stylua
        name: stylua
        entry: scripts/check-all
        language: script
        files: \.lua$
        pass_filenames: true

      - id: git-secrets
        name: git-secrets
        entry: git secrets --pre_commit_hook --
        language: system
        pass_filenames: true

Harden wallpaper services
  modules/programs/desktop/hyprland/wallpaper-rotate.sh
  modules/programs/desktop/hyprland/wallpaper.nix
  pkgs/db-wallpaper/db-wallpaper-sync.py
Due: shellcheck, alejandra

shell: add git shortcut previews
  modules/programs/shell/git/default.nix
  modules/programs/shell/git/functions.zsh
  modules/programs/shell/zsh.nix
Due: alejandra

shell: fix command preview context
  modules/programs/shell/zsh.nix
Due: alejandra

remove portable-ssh / nix-portable ssh bootstrap
  flake.nix
  modules/base.nix
  modules/portable.nix
  modules/programs/shell/default.nix
  modules/programs/shell/ssh.nix
  modules/programs/shell/tmux/default.nix
  modules/programs/shell/tmux/ssh-fzf.sh
  modules/programs/shell/zsh.nix
  pkgs/portable-ssh/default.nix
  pkgs/portable-ssh/portable-launcher
  pkgs/portable-ssh/portable-ssh
Due: shellcheck, alejandra

tiling-wm: gate TCC accessibility grant behind opt-in flag
  flake.nix
  modules/programs/desktop/keybindings.nix
Due: alejandra

use pcsc_sahred over ccid for darwin
  modules/programs/shell/gpg/default.nix
Due: alejandra

update flakes
  flake.lock
Due: none

neovim: replace veridian with slang-server for SystemVerilog LSP
  flake.nix
  modules/programs/shell/neovim/config/lua/plugins/verilog.lua
  modules/programs/shell/neovim/default.nix
  pkgs/slang-server/default.nix
Due: alejandra, stylua

ssh-agent-switcher: place the gpg socket where discovery looks
  modules/programs/desktop/agent-check.sh
  modules/services/ssh-agent-switcher.nix
Due: shellcheck, alejandra

gpg-agent: enable the extra socket for ssh RemoteForward
  modules/programs/desktop/gpg-agent.nix
Due: alejandra

waybar: add the Nerd Font glyphs and a battery module
  modules/programs/desktop/hyprland/waybar.nix
Due: alejandra

claude-desktop: install on aarch64-linux too
  flake.nix
Due: alejandra

hyprland: stop double-starting waybar
  modules/programs/desktop/hyprland/hyprland.nix
Due: alejandra

hyprland: workspace swipe gesture; desktop: chromium, and un-exclude kicad/freecad
  modules/programs/desktop/default.nix
  modules/programs/desktop/hyprland/hyprland.nix
Due: alejandra

hyprland: record why the hyprexpo fork cannot be used yet
  modules/programs/desktop/hyprland/default.nix
Due: alejandra

waybar: notch-aware layout and a ticking clock
  modules/programs/desktop/hyprland/waybar.nix
Due: alejandra

waybar: make the network module interactive
  modules/programs/desktop/hyprland/hyprland.nix
Due: alejandra

waybar: network details on hover, click targets, and a tailscale module
  modules/programs/desktop/hyprland/waybar-tailscale.sh
  modules/programs/desktop/hyprland/waybar.nix
Due: shellcheck, alejandra

waybar: start the bar at all, and rebuild its tooltips
  modules/programs/desktop/hyprland/waybar-cpu.sh
  modules/programs/desktop/hyprland/waybar-tailscale.sh
  modules/programs/desktop/hyprland/waybar.nix
Due: shellcheck, alejandra

waybar: keep the tailscale status window open
  modules/programs/desktop/hyprland/waybar.nix
Due: alejandra

hyprland: take window rounding from 8 down to 2
  modules/programs/desktop/hyprland/hyprland.nix
Due: alejandra

hyprland: let hosts opt out of lockOnStart
  flake.nix
Due: alejandra

waybar: send the tailscale click to the admin console
  modules/programs/desktop/hyprland/waybar.nix
Due: alejandra

updated flakes
  flake.lock
Due: none

waybar: pad the modules that were left out of the padding rule
  modules/programs/desktop/hyprland/waybar.nix
Due: alejandra

waybar: move the week onto the date tooltip, and trim the time one
  modules/programs/desktop/hyprland/waybar.nix
Due: alejandra

waybar: make the notch bar height configurable, not a scale-2 constant
  modules/programs/desktop/hyprland/waybar.nix
Due: alejandra

waybar: reserve a third digit so percentages stop shifting the bar
  modules/programs/desktop/hyprland/waybar-cpu.sh
  modules/programs/desktop/hyprland/waybar.nix
Due: shellcheck, alejandra

swayosd: mute the microphone with wpctl, since swayosd cannot
  modules/programs/desktop/hyprland/swayosd.nix
Due: alejandra

waybar: split speaker and microphone, and keep muted the same width
  modules/programs/desktop/hyprland/waybar.nix
Due: alejandra

waybar: show when something is actually listening to the microphone
  modules/programs/desktop/hyprland/waybar-mic.sh
  modules/programs/desktop/hyprland/waybar.nix
Due: shellcheck, alejandra

waybar: make colour mean something instead of decorating each module
  modules/programs/desktop/hyprland/waybar-cpu.sh
  modules/programs/desktop/hyprland/waybar.nix
Due: shellcheck, alejandra

waybar: cyan as the resting colour, and split tailscale's failure modes
  modules/programs/desktop/hyprland/waybar-cpu.sh
  modules/programs/desktop/hyprland/waybar-tailscale.sh
  modules/programs/desktop/hyprland/waybar.nix
Due: shellcheck, alejandra

added db api_key
  secrets/users/josh/secrets.yaml
Due: none

waybar: stop a healthy wired connection rendering as critical
  .gitallowed
  modules/programs/desktop/hyprland/waybar.nix
Due: alejandra

secrets: rotate github token
  secrets/users/josh/secrets.yaml
Due: none

secrets: keep credentials out of the shell environment
  AGENTS.md
  modules/programs/shell/claude-code/default.nix
  modules/programs/shell/default.nix
  modules/secrets.nix
  pkgs/kicad-parts-manager/default.nix
  pkgs/kicad-parts-manager/kicad-parts.py
Due: alejandra
