Repository joshheyse/home-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, alejandra, stylua

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Run: pre-commit install
# Or via Nix: nix develop --command pre-commit install

repos:
  - repo: local
    hooks:
      - id: shellcheck
        name: shellcheck
        entry: scripts/check-all
        language: script
        files: \.sh$
        pass_filenames: true

      - id: alejandra
        name: alejandra
        entry: scripts/check-all
        language: script
        files: \.nix$
        pass_filenames: true

      - id: stylua
        name: stylua
        entry: scripts/check-all
        language: script
        files: \.lua$
        pass_filenames: true

      - id: git-secrets
        name: git-secrets
        entry: git secrets --pre_commit_hook --
        language: system
        pass_filenames: true

Fix: disable upstream home.file for settings.json, merge all settings in activation
  modules/programs/shell/claude-code/default.nix
Due: alejandra

Attach jsonls to jsonc files for trailing comma support
  modules/programs/shell/neovim/config/lua/plugins/astrolsp.lua
Due: stylua

Symlink ~/.claude.json into persisted ~/.claude/ directory
  modules/programs/shell/claude-code/default.nix
Due: alejandra

claude code files...
  modules/programs/shell/claude-code/default.nix
Due: alejandra

ssh-agent-switcher: remove graphical-session dependency
  modules/services/ssh-agent-switcher.nix
Due: alejandra

claude-code: exclude git and gh from sandbox
  modules/programs/shell/claude-code/default.nix
Due: alejandra

Add SSH config module with GitHub host and YubiKey public key
  modules/programs/shell/default.nix
  modules/programs/shell/ssh.nix
Due: alejandra

Promote homeConfigurations to home-manager flake
  .sops.yaml
  flake.lock
  flake.nix
  secrets/id_rsa_yubikey.pub
  secrets/users/josh/secrets.yaml
Due: alejandra

neovim: filter jsonls trailing comma warnings for JSONC files
  modules/programs/shell/neovim/config/lua/polish.lua
Due: stylua

Add templated SSH remote hosts with per-environment defaults
  flake.nix
  modules/programs/shell/ssh.nix
Due: alejandra

Add atuin for session-local and global shell history
  modules/programs/shell/atuin.nix
  modules/programs/shell/default.nix
  modules/programs/shell/zsh.nix
Due: alejandra

Fix zcompdump race condition in concurrent shells
  modules/programs/shell/zsh.nix
Due: alejandra

update flakes
  flake.lock
Due: none

Fix minuet-ai: remove invalid stop_sequences, fix lazy loading
  modules/programs/shell/neovim/config/lua/plugins/minuet.lua
Due: stylua

Fix atuin zsh integration: use zvm_after_init, add vim-normal keymap
  modules/programs/shell/atuin.nix
  modules/programs/shell/zsh.nix
Due: alejandra

Add Evolution email client, gnome-keyring, and GOA GTK
  modules/programs/desktop/default.nix
Due: alejandra

do not reopen windows on boot
  modules/darwin/default.nix
Due: alejandra

Fix ssh-agent-switcher and wallpaper-rotate service failures
  modules/programs/desktop/hyprland/wallpaper-rotate.sh
  modules/services/ssh-agent-switcher.nix
Due: shellcheck, alejandra

update .gitallowed
  .gitallowed
Due: none

updated zsh and secrets
  modules/programs/shell/zsh.nix
  secrets/users/josh/secrets.yaml
Due: alejandra

desktop: skip x86-only packages on aarch64-linux
  modules/programs/desktop/default.nix
Due: alejandra

add aarch64-linux to systems list
  flake.nix
Due: alejandra

hyprland: skip discord/spotify on aarch64-linux
  modules/programs/desktop/hyprland/default.nix
Due: alejandra

skip claude-desktop on non-x86_64 systems
  flake.nix
Due: alejandra

fix syntax: close module function
  flake.nix
Due: alejandra

claude-code: add epistemic discipline rules to CLAUDE.md
  modules/programs/shell/claude-code/default.nix
Due: alejandra

work on x13s installer
  .gitallowed
Due: none

update flake
  flake.lock
Due: none

update hooks
  .hooks/post-merge
  .hooks/pre-commit
  .hooks/pre-push
Due: none

update codecompanion for claude at work or home
  modules/programs/shell/neovim/config/lua/plugins/codecompanion.lua
Due: stylua

update clangd settings
  modules/programs/shell/neovim/config/lua/plugins/cpp.lua
Due: stylua

share anthropic config between codecompanion and minuet
  modules/programs/shell/neovim/config/lua/plugins/codecompanion.lua
  modules/programs/shell/neovim/config/lua/plugins/minuet.lua
  modules/programs/shell/neovim/config/lua/util/anthropic.lua
Due: stylua

updated flakes
  flake.lock
Due: none

fix yank paths for bitbucket
  modules/programs/shell/neovim/config/lua/paths.lua
Due: stylua
