Repository joshheyse/home-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, alejandra, stylua

shellcheck:
  name: shellcheck
  entry: scripts/check-all
  language: script
  pass_filenames: true

alejandra:
  name: alejandra
  entry: scripts/check-all
  language: script
  pass_filenames: true

stylua:
  name: stylua
  entry: scripts/check-all
  language: script
  pass_filenames: true

update flakes
  flake.lock
Due: none

add lnav with tokyo night theme
  modules/programs/shell/default.nix
  modules/programs/shell/lnav.nix
Due: alejandra

install kitty terminfo for notcurses tui apps
  modules/programs/shell/default.nix
Due: alejandra

set TERMINFO
  modules/programs/shell/default.nix
Due: alejandra

add cached bazel zsh autocomplete
  modules/programs/shell/bazel/_bazelisk
  modules/programs/shell/bazel/default.nix
  modules/programs/shell/bazel/refresh-targets.sh
  modules/programs/shell/default.nix
  modules/programs/shell/zsh.nix
Due: shellcheck, alejandra

shell tweaks: LESS defaults, MOOR rename, add grc, heirline filename fix
  modules/programs/shell/default.nix
  modules/programs/shell/grc.nix
  modules/programs/shell/neovim/config/lua/plugins/heirline.lua
Due: alejandra, stylua

fix bazel completion: use sha256sum instead of shasum
  modules/programs/shell/bazel/_bazelisk
  modules/programs/shell/bazel/default.nix
  modules/programs/shell/bazel/refresh-targets.sh
Due: shellcheck, alejandra

prefer nix of mason
  modules/programs/shell/neovim/config/lua/plugins/astrolsp.lua
  modules/programs/shell/neovim/config/lua/plugins/mason.lua
  modules/programs/shell/neovim/default.nix
Due: alejandra, stylua

keep pre-commit GC-rooted in user profile
  flake.lock
  modules/programs/shell/git.nix
Due: alejandra

gpg-agent: detect stale sockets, skip kill on dead agent
  modules/programs/desktop/gpg-agent.nix
Due: alejandra

opencode: add wiring, default agents, and enable on mac
  flake.nix
  modules/programs/shell/opencode/AGENTS.md
  modules/programs/shell/opencode/agents/cpp-hotpath.md
  modules/programs/shell/opencode/agents/general.md
  modules/programs/shell/opencode/agents/nix-dev.md
  modules/programs/shell/opencode/agents/planner.md
  modules/programs/shell/opencode/agents/quant-python.md
  modules/programs/shell/opencode/common.nix
  modules/programs/shell/opencode/desktop.nix
  modules/programs/shell/opencode/mac.nix
Due: alejandra

opencode: default theme to bundled tokyonight
  modules/programs/shell/opencode/common.nix
Due: alejandra

opencode agents: switch all to anthropic/claude-opus-4-7
  modules/programs/shell/opencode/agents/cpp-hotpath.md
  modules/programs/shell/opencode/agents/general.md
  modules/programs/shell/opencode/agents/nix-dev.md
  modules/programs/shell/opencode/agents/planner.md
  modules/programs/shell/opencode/agents/quant-python.md
Due: none

opencode general agent: tighten command-delegation rules
  modules/programs/shell/opencode/agents/general.md
Due: none

rename CLAUDE.md to AGENTS.md, stub CLAUDE.md with @import
  AGENTS.md
  CLAUDE.md
Due: none

ssh-agent-switcher: move socket to XDG_RUNTIME_DIR
  modules/services/ssh-agent-switcher.nix
Due: alejandra

add sidra (Apple Music desktop client)
  flake.lock
  flake.nix
  modules/programs/desktop/default.nix
Due: alejandra

add portable-ssh wrapper and portable.enable option
  flake.nix
  modules/base.nix
  modules/portable.nix
  modules/programs/shell/default.nix
  modules/programs/shell/zsh.nix
  pkgs/portable-ssh/default.nix
  pkgs/portable-ssh/portable-ssh
Due: alejandra

fix bazel completion: use compadd instead of _describe
  modules/programs/shell/bazel/_bazelisk
Due: none

portable-ssh: fix remote path expansion and improve progress output
  pkgs/portable-ssh/portable-ssh
Due: none

portable-ssh: probe remote $HOME explicitly before mkdir
  pkgs/portable-ssh/portable-ssh
Due: none

portable-ssh: add --raw/--plain flag for one-shot bypass
  pkgs/portable-ssh/portable-ssh
Due: none

portable-ssh: stop pinning openssh in the wrapper PATH
  pkgs/portable-ssh/default.nix
Due: alejandra

portable-ssh: print correct flake ref for activation
  pkgs/portable-ssh/portable-ssh
Due: none

ssh: forward agent for ch12* hosts
  modules/programs/shell/ssh.nix
Due: alejandra

portable-ssh: print correct activation sequence
  pkgs/portable-ssh/portable-ssh
Due: none

update protable
  pkgs/portable-ssh/portable-ssh
Due: none

portable-ssh: auto-launch portable zsh on interactive ssh
  pkgs/portable-ssh/portable-ssh
Due: none

portable-ssh: scp a proot launcher and use it instead of nix run
  pkgs/portable-ssh/default.nix
  pkgs/portable-ssh/portable-launcher
  pkgs/portable-ssh/portable-ssh
Due: alejandra

portable-ssh: dontPatchShebangs on the package
  pkgs/portable-ssh/default.nix
Due: alejandra

portable-launcher: prepend ~/.nix-profile/bin to PATH
  pkgs/portable-ssh/portable-launcher
Due: none

update portable
  modules/programs/shell/tmux/default.nix
  modules/programs/shell/tmux/ssh-fzf.sh
Due: shellcheck, alejandra

expose local pkgs via overlay; add tmux.sshCommand option
  flake.nix
  modules/programs/desktop/hyprland/gtk.nix
  modules/programs/desktop/hyprland/wallpaper.nix
  modules/programs/shell/default.nix
  modules/programs/shell/tmux/default.nix
  modules/services/ssh-agent-switcher.nix
Due: alejandra

portable-launcher: NP_RUNTIME=proot --impure for first-run activation
  pkgs/portable-ssh/portable-launcher
Due: none

added orbstack home-manager config
  flake.nix
  modules/darwin/default.nix
Due: alejandra

updated flakes
  flake.lock
Due: none

Path conditions:
  shellcheck: any of: \.sh$
  alejandra: any of: \.nix$
  stylua: any of: \.lua$
