Repository joshheyse/home-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, alejandra, stylua

shellcheck:
  name: shellcheck
  entry: scripts/check-all
  language: script
  pass_filenames: true

alejandra:
  name: alejandra
  entry: scripts/check-all
  language: script
  pass_filenames: true

stylua:
  name: stylua
  entry: scripts/check-all
  language: script
  pass_filenames: true

fix: migrate git config to 25.11 settings API
  modules/programs/shell/git.nix
Due: alejandra

clean up moar→moor compat code (25.11 has moor)
  flake.lock
  modules/programs/shell/default.nix
Due: alejandra

update docs and README for 25.11
  CLAUDE.md
  README.md
Due: none

fix: remove tree-sitter CLI from neovim extraPackages
  modules/programs/shell/neovim/default.nix
Due: alejandra

fix: ignore latex treesitter grammar and restore tree-sitter CLI
  modules/programs/shell/neovim/config/lua/plugins/treesitter.lua
  modules/programs/shell/neovim/default.nix
Due: alejandra, stylua

fix: make l alias not show hidden files
  modules/programs/shell/eza.nix
Due: alejandra

Replace tmux Claude/workspace bash scripts with devmux
  modules/programs/shell/tmux/claude-has-prompt.sh
  modules/programs/shell/tmux/claude-hook.sh
  modules/programs/shell/tmux/claude-respond.sh
  modules/programs/shell/tmux/claude-status.sh
  modules/programs/shell/tmux/claude-toggle.sh
  modules/programs/shell/tmux/default.nix
  modules/programs/shell/tmux/dev-workspace.sh
Due: shellcheck, alejandra

add yabai tiling toggle and fastfetch
  modules/programs/desktop/keybindings.nix
  modules/programs/shell/default.nix
  modules/secrets.nix
Due: alejandra

add yabai service toggle and watch package
  modules/programs/desktop/keybindings.nix
  modules/programs/shell/default.nix
Due: alejandra

fix fullscreen keybindings for consistency
  modules/programs/desktop/keybindings.nix
Due: alejandra

auto-reload files changed on disk in neovim
  modules/programs/shell/neovim/config/lua/polish.lua
Due: stylua

remove background color from right-side starship widgets
  modules/programs/shell/starship.nix
Due: alejandra

add cross-platform screenshot chord system
  modules/programs/desktop/default.nix
  modules/programs/desktop/keybindings.nix
  modules/programs/desktop/screenshots.nix
Due: alejandra

Revert "Replace tmux Claude/workspace bash scripts with devmux"
  modules/programs/shell/tmux/claude-has-prompt.sh
  modules/programs/shell/tmux/claude-hook.sh
  modules/programs/shell/tmux/claude-respond.sh
  modules/programs/shell/tmux/claude-status.sh
  modules/programs/shell/tmux/claude-toggle.sh
  modules/programs/shell/tmux/default.nix
  modules/programs/shell/tmux/dev-workspace.sh
Due: shellcheck, alejandra

Replace Landlock sandbox with Claude Code built-in sandbox
  modules/programs/shell/claude-code/claude-sandbox.sh
  modules/programs/shell/claude-code/default.nix
  modules/programs/shell/tmux/default.nix
Due: shellcheck, alejandra

Replace Landlock sandbox with Claude Code built-in sandbox
  modules/programs/shell/claude-code/claude-sandbox.sh
  modules/programs/shell/claude-code/default.nix
  modules/programs/shell/default.nix
  modules/programs/shell/tmux/default.nix
Due: shellcheck, alejandra

Replace quarto-nvim with native cell navigation for molten-nvim
  modules/programs/shell/neovim/config/lua/community.lua
  modules/programs/shell/neovim/config/lua/plugins/astrocore.lua
  modules/programs/shell/neovim/config/lua/plugins/notebook.lua
Due: stylua

Use vim.fn.MoltenEvaluateRange instead of vim.cmd string formatting
  modules/programs/shell/neovim/config/lua/plugins/notebook.lua
Due: stylua

Add run-all and restart-and-run-all keybindings for molten-nvim
  modules/programs/shell/neovim/config/lua/plugins/notebook.lua
  modules/programs/shell/tmux/default.nix
Due: alejandra, stylua

Add MoltenInit step before restart in restart-and-run-all
  modules/programs/shell/neovim/config/after/ftplugin/python.lua
  modules/programs/shell/neovim/config/lua/plugins/notebook.lua
Due: stylua

Set global tabstop/shiftwidth/softtabstop to 2 with expandtab
  modules/programs/shell/neovim/config/lua/plugins/astrocore.lua
Due: stylua

allow all domains for claude
  modules/programs/shell/claude-code/default.nix
Due: alejandra

allow claude commands under standbox
  modules/programs/shell/claude-code/default.nix
Due: alejandra

ssh-agent-switcher: add GPG agent socket discovery, switch pinentry to rofi
  modules/programs/desktop/gpg-agent.nix
  modules/services/ssh-agent-switcher.nix
Due: alejandra

add pbcopy/pbpaste shell functions with OSC 52 fallback
  modules/programs/shell/zsh.nix
Due: alejandra

shared kernel: Lab + bridge + molten share one kernel
  flake.nix
  modules/programs/shell/default.nix
  modules/programs/shell/neovim/config/lua/plugins/heirline.lua
  modules/programs/shell/neovim/config/lua/plugins/notebook.lua
  modules/programs/shell/neovim/config/lua/util/kernel-status.lua
  pkgs/jupyter-bridge/cell-bridge.py
  pkgs/jupyter-bridge/default.nix
  pkgs/jupyter-bridge/jupyter-bridge
Due: alejandra, stylua

jupyter hub binds to 0.0.0.0
  pkgs/jupyter-bridge/jupyter-bridge
Due: none

jupyter bridge work
  pkgs/jupyter-bridge/cell-bridge.py
  pkgs/jupyter-bridge/jupyter-bridge
Due: none

jupyter-bridge: bridge-owned kernel, streamlined keybindings
  modules/programs/shell/neovim/config/lua/plugins/notebook.lua
  pkgs/jupyter-bridge/cell-bridge.py
  pkgs/jupyter-bridge/jupyter-bridge
Due: stylua

consolidate duplicate provision-yubikey.sh scripts
  modules/programs/desktop/gpg/provision-yubikey.sh
  modules/programs/shell/gpg/provision-yubikey.sh
Due: shellcheck

add expect package for yubikey provisioning script
  modules/programs/shell/gpg/default.nix
Due: alejandra

provision-yubikey: check pcscd is running before prompting for PINs
  modules/programs/shell/gpg/provision-yubikey.sh
Due: shellcheck

gpg: add rotate/factory-reset scripts, harden provision-yubikey
  modules/programs/shell/gpg/factory-reset-yubikey.sh
  modules/programs/shell/gpg/provision-yubikey.sh
  modules/programs/shell/gpg/rotate-gpg-subkeys.sh
Due: shellcheck

widen mako notifications, Bibata cursor, symlink .claude.json into .claude dir
  modules/programs/desktop/hyprland/gtk.nix
  modules/programs/desktop/hyprland/mako.nix
  modules/programs/shell/claude-code/default.nix
  modules/programs/shell/gpg/provision-yubikey.sh
Due: shellcheck, alejandra

hyprland: add hyprexpo, swayosd, wlogout, cliphist bind, wallpaper system
  flake.nix
  modules/programs/desktop/hyprland/default.nix
  modules/programs/desktop/hyprland/hyprexpo.nix
  modules/programs/desktop/hyprland/hyprpaper.nix
  modules/programs/desktop/hyprland/swayosd.nix
  modules/programs/desktop/hyprland/wallpaper-rotate.sh
  modules/programs/desktop/hyprland/wallpaper.nix
  modules/programs/desktop/hyprland/wlogout.nix
  modules/programs/desktop/keybindings.nix
  modules/secrets.nix
  pkgs/db-wallpaper/db-wallpaper-sync.sh
  pkgs/db-wallpaper/default.nix
Due: shellcheck, alejandra

gpg-agent: automatic local/remote switching, fix ssh-agent-switcher
  flake.lock
  modules/programs/desktop/gpg-agent.nix
  modules/programs/shell/gpg/default.nix
  modules/services/ssh-agent-switcher.nix
Due: alejandra

claude-code: remove HM-managed .claude.json symlink
  modules/programs/shell/claude-code/default.nix
Due: alejandra

db-wallpaper: rewrite in Python with curl_cffi, add agent-check diagnostic script
  modules/programs/desktop/agent-check.sh
  modules/programs/desktop/gpg-agent.nix
  pkgs/db-wallpaper/db-wallpaper-sync.py
  pkgs/db-wallpaper/db-wallpaper-sync.sh
  pkgs/db-wallpaper/default.nix
Due: shellcheck, alejandra

screenshots: fix skhd config evaluation on Linux
  modules/programs/desktop/screenshots.nix
Due: alejandra

Make claude-code settings/CLAUDE.md mutable via activation script
  modules/programs/shell/claude-code/default.nix
Due: alejandra

Path conditions:
  shellcheck: any of: \.sh$
  alejandra: any of: \.nix$
  stylua: any of: \.lua$
