Repository joshheyse/home-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, alejandra, stylua

shellcheck:
  name: shellcheck
  entry: scripts/check-all
  language: script
  pass_filenames: true

alejandra:
  name: alejandra
  entry: scripts/check-all
  language: script
  pass_filenames: true

stylua:
  name: stylua
  entry: scripts/check-all
  language: script
  pass_filenames: true

set window name to pwd
  modules/programs/shell/tmux.nix
Due: alejandra

tmux devx improements
  modules/programs/shell/tmux.nix
  pkgs/ssh-fzf/ssh-fzf
Due: alejandra

rearrange tmux files
  modules/programs/shell/tmux.nix
  modules/programs/shell/tmux/claude-toggle.sh
  modules/programs/shell/tmux/default.nix
  modules/programs/shell/tmux/dev-workspace.sh
  modules/programs/shell/tmux/smart-split.sh
  modules/programs/shell/tmux/ssh-fzf.sh
Due: shellcheck, alejandra

switch to claude-code flake'
  flake.lock
  flake.nix
  modules/programs/shell/tmux/default.nix
  overlays/claude-code.nix
Due: alejandra

update nix flake path
  modules/programs/shell/default.nix
Due: alejandra

fix tmux config
  modules/programs/shell/tmux/default.nix
Due: alejandra

fix nix config
  modules/programs/shell/tmux/default.nix
Due: alejandra

add notify script
  flake.nix
  modules/programs/shell/default.nix
  pkgs/notify/default.nix
  pkgs/notify/notify
Due: alejandra

fixes
  modules/programs/shell/tmux/default.nix
Due: alejandra

fix devex layout
  modules/programs/shell/tmux/dev-workspace.sh
Due: shellcheck

change tmux which-keys pop-up size
  modules/programs/shell/tmux/default.nix
Due: alejandra

another fix for tmux
  modules/programs/shell/tmux/default.nix
Due: alejandra

add support for pdf reading in nvim
  modules/programs/shell/neovim/config/lua/plugins/image.lua
  modules/programs/shell/neovim/config/lua/plugins/pdfreader.lua
  modules/programs/shell/neovim/default.nix
  modules/programs/shell/tmux/claude-has-prompt.sh
  modules/programs/shell/tmux/claude-hook.sh
  modules/programs/shell/tmux/claude-respond.sh
  modules/programs/shell/tmux/claude-status.sh
  modules/programs/shell/tmux/default.nix
Due: shellcheck, alejandra, stylua

more nvim pdf view work
  modules/programs/shell/neovim/default.nix
Due: alejandra

nvim keybindings and style
  modules/programs/shell/neovim/config/lua/plugins/astrocore.lua
  modules/programs/shell/neovim/config/lua/plugins/pdfreader.lua
  modules/programs/shell/neovim/config/lua/plugins/tokyonight.lua
Due: stylua

fix typo
  modules/programs/shell/neovim/config/lua/plugins/astrocore.lua
Due: stylua

dim inactive windows in nvim
  modules/programs/shell/neovim/config/lua/plugins/tokyonight.lua
Due: stylua

more neovim work
  modules/programs/shell/neovim/config/lua/plugins/astrocore.lua
  modules/programs/shell/neovim/config/lua/plugins/tint.lua
  modules/programs/shell/neovim/config/lua/plugins/tokyonight.lua
Due: stylua

claude hooks work
  modules/programs/shell/tmux/claude-hook.sh
  modules/programs/shell/tmux/default.nix
Due: shellcheck, alejandra

calude hooks fix
  modules/programs/shell/tmux/default.nix
Due: alejandra

changed claude status icon to brain
  modules/programs/shell/tmux/claude-hook.sh
Due: shellcheck

Add pane-icon.sh script for window type icon lookup
  modules/programs/shell/tmux/pane-icon.sh
Due: shellcheck

Add window type icon system with per-window @window_type option
  modules/programs/shell/tmux/default.nix
  modules/programs/shell/tmux/dev-workspace.sh
  modules/programs/shell/tmux/icon-setup.sh
  modules/programs/shell/tmux/pane-icon.sh
  modules/programs/shell/tmux/smart-split.sh
  modules/programs/shell/tmux/ssh-fzf.sh
Due: shellcheck, alejandra

Add shellcheck disable for PANE_ICON injected by Nix wrapper
  modules/programs/shell/tmux/dev-workspace.sh
  modules/programs/shell/tmux/ssh-fzf.sh
Due: shellcheck

Add check-updates script for non-destructive flake input checking
  scripts/check-updates
Due: none

Extend check-updates to also check custom packages in pkgs/
  scripts/check-updates
Due: none

Add .vscode/launch.json support to nvim-dap and telescope-dap picker
  modules/programs/shell/neovim/config/lua/plugins/cpp.lua
  modules/programs/shell/neovim/config/lua/plugins/telescope-dap.lua
Due: stylua

Add overseer.nvim task runner and VS-style debug keybindings
  modules/programs/shell/neovim/config/lua/plugins/cpp.lua
  modules/programs/shell/neovim/config/lua/plugins/overseer.lua
Due: stylua

Add neotest with GTest adapter for C++ test discovery
  modules/programs/shell/neovim/config/lua/community.lua
  modules/programs/shell/neovim/config/lua/plugins/cpp.lua
Due: stylua

Refactor DAP config into generic dap.lua, add neotest-ctest adapter
  modules/programs/shell/neovim/config/lua/plugins/cpp.lua
  modules/programs/shell/neovim/config/lua/plugins/dap.lua
Due: stylua

better tmux window icons
  modules/programs/shell/tmux/icon-setup.sh
  modules/programs/shell/tmux/pane-icon.sh
Due: shellcheck

fix overseer dap integration
  modules/programs/shell/neovim/config/lua/plugins/dap.lua
Due: stylua

more tmux status line work
  modules/programs/desktop/kitty.nix
  modules/programs/shell/tmux/default.nix
  modules/programs/shell/tmux/icon-setup.sh
  modules/programs/shell/tmux/netspeed.sh
Due: shellcheck, alejandra

fix claude status
  modules/programs/shell/tmux/claude-hook.sh
  modules/programs/shell/tmux/claude-respond.sh
Due: shellcheck

fix shift enter in kitty
  modules/programs/shell/tmux/default.nix
Due: alejandra

tmux shift+enter
  modules/programs/shell/tmux/default.nix
Due: alejandra

kitty/tmux improvements (shift+enter/clipboard)
  modules/programs/desktop/kitty.nix
  modules/programs/shell/tmux/default.nix
  modules/programs/shell/zsh.nix
Due: alejandra

more shift+enter work
  modules/programs/desktop/kitty.nix
  modules/programs/shell/tmux/default.nix
Due: alejandra

tmux, neovim, shell, starship improvements
  modules/base.nix
  modules/programs/shell/default.nix
  modules/programs/shell/gpg/default.nix
  modules/programs/shell/neovim/config/lua/plugins/astrocore.lua
  modules/programs/shell/starship.nix
  modules/programs/shell/tmux/claude-hook.sh
  modules/programs/shell/tmux/icon-setup.sh
  modules/programs/shell/zsh.nix
Due: shellcheck, alejandra, stylua

add claude-code module for global CLAUDE.md
  modules/programs/shell/claude-code/default.nix
  modules/programs/shell/default.nix
  modules/programs/shell/tmux/default.nix
Due: alejandra

Path conditions:
  shellcheck: any of: \.sh$
  alejandra: any of: \.nix$
  stylua: any of: \.lua$
