Repository joshheyse/home-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, alejandra, stylua

shellcheck:
  name: shellcheck
  entry: scripts/check-all
  language: script
  pass_filenames: true

alejandra:
  name: alejandra
  entry: scripts/check-all
  language: script
  pass_filenames: true

stylua:
  name: stylua
  entry: scripts/check-all
  language: script
  pass_filenames: true

pwas: launch web apps as desktop apps, and route links by host
  modules/programs/desktop/default.nix
  modules/programs/desktop/pwas.nix
Due: alejandra

update flakes
  flake.nix
  modules/secrets.nix
Due: alejandra

pwas: real app windows, isolated profiles, and links that escape Chromium
  modules/programs/desktop/default.nix
  modules/programs/desktop/pwas.nix
Due: alejandra

pwas: take over mimeapps.list, keeping the handlers already in it
  modules/programs/desktop/default.nix
Due: alejandra

pwas: escape links from the app's own tab, not a tab made for them
  modules/programs/desktop/pwas.nix
Due: alejandra

hyprland: let hosts set their own pointer sensitivity
  modules/programs/desktop/hyprland/hyprland.nix
Due: alejandra

git-secrets: drop the generic high-entropy rule
  .git-secrets-patterns
  .gitallowed
Due: none

waybar: give the notch spacer the same padding as every other module
  modules/programs/desktop/hyprland/waybar.nix
Due: alejandra

waybar-health
  modules/programs/desktop/hyprland/waybar-health.sh
  modules/programs/desktop/hyprland/waybar.nix
Due: shellcheck, alejandra

fix(waybar): render system health widget
  modules/programs/desktop/hyprland/waybar-health.sh
Due: shellcheck

chore(git): allow AWK health-check blocks
  .gitallowed
Due: none

focus on activate, fixes firefox display on link click
  modules/programs/desktop/hyprland/hyprland.nix
Due: alejandra

refactor(tmux): simplify local agent status
  modules/programs/desktop/hyprland/hyprland.nix
  modules/programs/desktop/pwas.nix
  modules/programs/shell/tmux/claude-has-prompt.sh
  modules/programs/shell/tmux/claude-hook.sh
  modules/programs/shell/tmux/claude-respond.sh
  modules/programs/shell/tmux/default.nix
  modules/programs/shell/tmux/icon-setup.sh
Due: shellcheck, alejandra

feat(tmux): unify agent lifecycle status
  AGENTS.md
  modules/programs/shell/tmux/agent-hook.sh
  modules/programs/shell/tmux/agent-state.sh
  modules/programs/shell/tmux/agent-toggle.sh
  modules/programs/shell/tmux/claude-hook.sh
  modules/programs/shell/tmux/claude-status.sh
  modules/programs/shell/tmux/claude-toggle.sh
  modules/programs/shell/tmux/default.nix
  modules/programs/shell/tmux/dev-workspace.sh
  modules/programs/shell/tmux/icon-setup.sh
Due: shellcheck, alejandra

fix(tmux): show workspace info in dev status
  modules/programs/shell/tmux/default.nix
Due: alejandra

feat(tmux): render dev context with starship
  modules/programs/shell/tmux/default.nix
  modules/programs/shell/tmux/dev-status.sh
Due: shellcheck, alejandra

fix(tmux): blink full agent attention glyph
  modules/programs/shell/tmux/agent-state.sh
  modules/programs/shell/tmux/default.nix
  modules/programs/shell/tmux/icon-setup.sh
Due: shellcheck, alejandra

fix(tmux): blink agent attention in window tabs
  modules/programs/shell/tmux/agent-state.sh
  modules/programs/shell/tmux/default.nix
  modules/programs/shell/tmux/icon-setup.sh
Due: shellcheck, alejandra

fix(tmux): silence which-key reload output
  modules/programs/shell/tmux/default.nix
Due: alejandra

fix(tmux): report reload failures quietly
  modules/programs/shell/tmux/default.nix
Due: alejandra

feat(tmux): color and space dev context
  modules/programs/shell/tmux/agent-state.sh
  modules/programs/shell/tmux/default.nix
  modules/programs/shell/tmux/dev-status.sh
Due: shellcheck, alejandra

fix(tmux): refresh agent styling on reload
  modules/programs/shell/tmux/default.nix
Due: alejandra

fix(pwa): keep authentication redirects in app
  modules/programs/desktop/default.nix
  modules/programs/desktop/pwas.nix
Due: alejandra

fix(tmux): stabilize agent lifecycle hooks
  modules/programs/shell/tmux/agent-hook.sh
  modules/programs/shell/tmux/default.nix
Due: shellcheck, alejandra

fix(tmux): keep status agent indicator static
  modules/programs/shell/tmux/default.nix
Due: alejandra

feat(tmux): configure default dev agent
  modules/programs/shell/tmux/default.nix
Due: alejandra

hyprland: bind waybar to compositor session
  modules/programs/desktop/hyprland/hyprland.nix
  modules/programs/desktop/hyprland/waybar.nix
Due: alejandra

waybar: add weather forecast and alerts
  modules/programs/desktop/hyprland/waybar-weather.py
  modules/programs/desktop/hyprland/waybar.nix
Due: alejandra

waybar: use GTK-compatible alert animation
  modules/programs/desktop/hyprland/waybar.nix
Due: alejandra

waybar: align weather flash with mic alarm
  modules/programs/desktop/hyprland/waybar.nix
Due: alejandra

waybar: flash extreme weather in foreground
  modules/programs/desktop/hyprland/waybar.nix
Due: alejandra

feat(evolution): declare compact mail layout
  modules/programs/desktop/default.nix
  modules/programs/desktop/evolution.nix
Due: alejandra

feat(waybar): color weather details independently
  .gitignore
  modules/programs/desktop/hyprland/waybar-weather.py
  modules/programs/desktop/hyprland/waybar.nix
Due: alejandra

feat(desktop): complete Hyprland session integrations
  modules/programs/desktop/hyprland/auto-brightness.nix
  modules/programs/desktop/hyprland/auto-brightness.py
  modules/programs/desktop/hyprland/default.nix
  modules/programs/desktop/hyprland/dynamic-cursors.nix
  modules/programs/desktop/hyprland/hypridle.nix
  modules/programs/desktop/hyprland/hyprland.nix
  modules/programs/desktop/hyprland/hyprspace.nix
  modules/programs/desktop/hyprland/mako.nix
  modules/programs/desktop/hyprland/notifications.nix
  modules/programs/desktop/hyprland/swayosd.nix
  modules/programs/desktop/hyprland/waybar.nix
  modules/programs/desktop/keybindings.nix
Due: alejandra

fix(hyprland): defer Hyprspace dispatch until runtime
  modules/programs/desktop/keybindings.nix
Due: alejandra

fix(hyprland): enable overview swipe and align notification icon
  modules/programs/desktop/hyprland/hyprspace.nix
  modules/programs/desktop/hyprland/waybar.nix
Due: alejandra

fix(waybar): label notification tooltip
  modules/programs/desktop/hyprland/waybar.nix
Due: alejandra

style(notifications): unify SwayNC with Tokyo Night
  modules/programs/desktop/hyprland/notifications.nix
Due: alejandra

style(notifications): clarify grouped history
  modules/programs/desktop/hyprland/notifications.nix
Due: alejandra

feat(hyprland): use Bibata cursor and tame touchpad
  modules/programs/desktop/hyprland/default.nix
  modules/programs/desktop/hyprland/gtk.nix
  modules/programs/desktop/hyprland/hyprland.nix
Due: alejandra

Path conditions:
  shellcheck: any of: \.sh$
  alejandra: any of: \.nix$
  stylua: any of: \.lua$
